name: Publish npm package

on:
  release:
    types: [ created ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    # Make repository available to workflow
    - name: Checkout repo
      uses: actions/checkout@v2
    # Setup .npmrc file to publish to npm
    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
        registry-url: 'https://registry.npmjs.org'
    # Publish package (use package.json prepublishOnly hook for other things to run)
    - name: Publish
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
